@model DepartmentModel
@{
    ViewData["Title"] = "DepartmentList";
    Layout = "_LayoutAdmin";
}

<div class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">Departman Listesi</div>

            <a asp-controller="Department" asp-action="DepartmentCreate" class="btn btn-success" style="margin: 15px;">Departman Ekle</a>

            @if (Model.Departments.Count() > 0)
            {
                <div class="table-responsive">
                    <table class="table table-striped b-t b-light">
                        <thead>
                            <tr>
                                <th>Sıra No</th>
                                <th>Başlık</th>
                                <th colspan="2"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Departments)
                            {
                                <tr data-expanded="true">
                                    <td>@item.DepartmentRowNumber</td>
                                    <td>@item.DepartmentName</td>
                                    <td><a asp-controller="Department" asp-action="DepartmentEdit" asp-route-id="@item.DepartmentId" class="btn btn-warning">Düzenle</a></td>
                                    <td><a asp-controller="Department" asp-action="DepartmentDelete" asp-route-id="@item.DepartmentId" class="btn btn-danger" onclick="return silOnayla();">Sil</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

        </div>
    </div>
</div>