


#point1:hover {
    color: #ff8000!important;
    font-size: 18px;
    cursor: pointer;
}
#point2:hover {
    color: #ff8000!important;
    font-size: 18px;
    cursor: pointer;
}
#point3:hover {
    color: #ff8000!important;
    font-size: 18px;
    cursor: pointer;
}
#point4:hover {
    color: #ff8000!important;
    font-size: 18px;
    cursor: pointer;
}
#point5:hover {
    color: #ff8000!important;
    font-size: 18px;
    cursor: pointer;
}